*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body{
    background-image: url("../images/fondo.JPG");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .App-header {
    margin: 0;
    background-color: #282c34;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  nav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .container-content{
    width: 90%;
    height: 70vh;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(1, 16, 56);
    font-size: 1.5rem;
  }
  
  .container-content h1{
    color: brown;
    font-size: 4rem;
  }
  
  .container-content h2{
    color: chocolate;
    font-size: 3rem;
  }
  
  .container-content input{
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: chocolate;
    border-radius: 10px;
  }
  
  
  .btn {
    color: #bb6b10;
    height: 40px;
    font-size: 35px;
    background-color: rgb(243, 23, 7);
    color: rgb(235, 226, 226);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .contaniner-score{
    width: 60%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: solid 1px blue ;
  }

  .contaniner-score span{
    width: 40%;
    font-weight: bold;
    color: rgb(243, 65, 11);
  }